<html>

<head>
	<meta charset="utf-8">
	<title>Il matrimonio di {{ page.title }}</title>


	<!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

	<!-- CSS -->
    <link href='css/page.css' rel='stylesheet' type='text/css'>

	<!-- JS -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/jquery.unveil.min.js"></script>


</head>

<body>
	
	
	<section id='container'>
		
		<header class='center'>
			
			<!img src="{{ page.img }}">		
		
			<h1> {{ page.title }}</h1>
			<h2> {{ page.subheader }} </h2>
			<h3> {{ page.data }} </h3>
			<h4> {{ page.luogo }}</h4>
		
		</header>


		
		<section id='gallery' class='center'>	
			<section id='pictures' class='center shadow'>	
		
				{{ content }}
		

			</section>
		
	
	
		<footer>
		
			<hr>
		
		
		<p>
			<img alt="5pani2pesci" src="img/logo.png"> Questo servizio fotografico è stato realizzato da
			<a href="http://5p2p.it">5pani2pesci</a>, un progetto di evangelizzazione per la famiglia.  La nostra attività include lo sviluppo di video, articoli e testimonianze. Tutto il ricavato ottenuto attraverso i servizi fotografici ai matrimoni è finalizzato al finanziamento di questi progetti. 
		</p>
	
	<p>
		Vienici a conoscere <a href="http://5p2p.it"> sul nostro blog</a> oppure <a href="http://5p2p.it/scrivici.html">scrivici per avere maggiori informazioni</a>.</p>
</footer>

</section>



</section>

    <script>

	$(document).ready(function() {
	  $("img").unveil();
	});

	</script>

	
	
	
</body>

</html>
